<ion-view title="{{video.termine}}" id="page10">
  
        <ion-content padding="true" class="has-header">
           
               <h2 id="ctutorial-heading1" style="color:#000000;">{{video.termine}}</h2>
            
          <h3 id="ctutorial-heading2" style="color:#000000;font-weight:300;font-style:italic;">{{video.traslitterazione}}</h3>
          <h1 id="ctutorial-heading3" style="color:#000000;font-weight:400;">{{video.significato}}</h1>
          <h4 id="ctutorial-heading4" style="color:#000000;font-weight:400;">{{video.grammatica}}</h4>
          <h5 id="ctutorial-heading5" style="color:#000000;font-weight:400;">{{video.altro}}</h5>
        </ion-content>
      </ion-view>