<ion-view title="Dizionario" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="dizionario-list1">
      <ion-item id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">א - aleph</ion-item>
    </ion-list>
    <ion-list id="dizionario-list1">
      <ion-item id="dizionario-list-item1" ui-sref="tabsController.bethListaNomi()">ב - beth</ion-item>
    </ion-list>
    <ion-list id="dizionario-list1">
      <ion-item id="dizionario-list-item1" ui-sref="tabsController.ghimelListaNomi()">ג - ghimel</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
