<ion-view title="{{video.termine}}" id="page6">
  <ion-content padding="true" class="has-header">
      <div id="tutorial-markdown1" class="show-list-numbers-and-dots">
         <h2 id="tutorial-heading1" style="color:#000000;">{{video.termine}}</h2>
      </div>
    <h3 id="tutorial-heading2" style="color:#000000;font-weight:300;font-style:italic;">{{video.traslitterazione}}</h3>
    <h1 id="tutorial-heading3" style="color:#000000;font-weight:400;">{{video.significato}}</h1>
    <h4 id="tutorial-heading4" style="color:#000000;font-weight:400;">{{video.grammatica}}</h4>
    <h5 id="tutorial-heading5" style="color:#000000;font-weight:400;">{{video.altro}}</h5>
  </ion-content>
</ion-view>